{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
    {% block title %}{% endblock %}
    </title>    
    <style>
        {% block style %}
        
        {% endblock %}
      
    </style>
  </head>

  <body>   
    
    
    <div class="navposition">
      <nav class="navbar">
        <a href="">Home</a>
        <a href="/about">About</a>
        <a href="/link">Learning WebSites</a>
        <a href="/contact">Contact Us</a>
        <a href="/shop">Shop</a>
        <a href="/blog">Blog</a>
        <a class="logsin" href="/admin">Login/singup</a>
      </nav>
    </div>    
    {% block body %}{% endblock%}  
    
  </body>
</html>
