{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'mysite/css/mycss.css' %}">
    <script src="{% static 'mysite/js/myscript.js' %}"></script>
</head>

<body>
    <h1 align="center">Contact Us</h1>
    <p class="backlink"><a href="/" id="back">Back</a></p>
    
    <div>
        <!-- csrf  =(cross site request forgery) -->
        <form action="/thanks" method="POST" style="padding: 30px;margin: 10;"> {% csrf_token %}

            <label>Fullname</label>
            <input name="name" class="data" placeholder="Your name.." type="text" id="namedata"><br>
            

            <label>Email<span id="required">*</span></label>
            <input required name="email" class="data" placeholder="abc@abc.com" type="email" id="emaildata"><br>
           
            
            <label>Message</label>
            <textarea oninput="countWord()" placeholder=" Your msg.." name="text" class="data" id="msgdata" cols="30" rows="10"></textarea>
            <p id="count">Count: <span id="count"></span> </p>
            <p><input required type="checkbox" name="check" id="">Read Terms & Condition<span id="required">*</span></p>
            <p><input type="checkbox" name="checkp" id="">Remove puctuation</p>
            <p><input type="checkbox" name="checkl" id="">Remove newline</p>
            <p><input type="checkbox" name="checks" id="">Remove Extra Space</p>
            <p><input type="checkbox" name="checku" id="">UpperCase</p>
            

            <button type="submit" value="Submit">Submit</button>

        </form>
    </div>



</body>
</html>