{% extends 'usersignuplogin/basic.html' %} 
{% load static %}

{% block title %}Login{% endblock%} 
{% block css %}
<link rel="stylesheet" href="{% static 'usersignuplogin/css/loginform.css' %}">
{% endblock%}

{% block body %}

<!-- <div class="container my-4">
<form action="" method="POST" novalidate>{% csrf_token %}
    {% for fm in form %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">{{fm.label}}</label>
      {{fm}}
      <div id="{{fm.label}}" class="form-text"><b> {{fm.errors|striptags}} </b></div>
    </div>
    {% endfor %}

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <a href="#">Forgot Password</a>
    <a href="{% url 'signup' %}">Create New User</a><br>
    <button type="submit" class="btn btn-primary">Log in <i class="fas fa-sign-in-alt"></i></button>

  </form>
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
 <span {% if msg.tags%} class="{{error.tag}}" {% endif %}>{{error}}</span>
{% endfor %}
{% endif %}
</div> -->

<section class="myform-area">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success scucess" role="alert">
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8">
              <div class="form-area login-form">
                  <div class="form-content">
                      <h2>Login</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla non aperiam cum quas quod reprehenderit.</p>
                      <ul>
                          <li><a href="#" class="facebook"><i class="fa fa-facebook-f"></i><span>facebook</span></a></li>
                          <li><a href="#" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a></li>
                      </ul>
                  </div>
                  <div class="form-input">
                      <h2>Login Form</h2>
                      <form action="" method="POST"> {% csrf_token %}
                        {% for fm in form %}
                          <div class="form-group">
                              {{fm}}
                              <label>{{fm.label}}</label>{% if fm.label == 'Password' %} 
                              <span class="pointer  d-none" id="notseepass"><i class="far fa-eye-slash"></i></span>  
                              <span class="pointer" id="seepass"><i class="far fa-eye"></i></i></span>  
                              
                              {% endif %}
                              
                              <div id="{{fm.label}}" class="form-text"><b> {{fm.errors|striptags}} </b></div>
                          </div>
                        {% endfor %}
                          <div class=""> 
                          <span class=""><a href="#">Forgot Password</a></span>
                          <span class="ms-5"><a href="{% url 'signup' %}">Create New User</a> </span>
                          </div>      
                          <div class="myform-button">
                              <button class="myform-btn">Login <i class="fas fa-sign-in-alt"></i></button>
                          </div>
                      </form>                      
                  </div>
              </div>
          </div>
      </div>
  </div>
                      <div id="loginerror">
                      {% if form.non_field_errors %}
                      {% for error in form.non_field_errors %}
                      <span>{{error}}</span>
                      {% endfor %}
                      {% endif %}
                      </div>
</section>


{% endblock %}
{% block js %}
<script src="{% static 'usersignuplogin/js/login.js' %}"></script>
{% endblock %}