{% extends 'usersignuplogin/basic.html' %} 
{% load static %}

{% block title %}Registration{% endblock%} 
{% block css %}
    <link rel="stylesheet" href="{% static 'usersignuplogin/css/signup.css' %}">
{% endblock%}

{% block body %}

<div id="login-box">
    <div class="left">
      <h1>Sign up</h1>
        <form action="" method="POST" >
            {% csrf_token %}
          
            {%for fm in form%}
            <div class="my-4">
                {{fm}} {{fm.errors|striptags}}
            </div>
            {%endfor%} 
            
            <div class="mb-2" style="text-align: center;">       
            <a href="{% url 'login' %}">I am already a Member</a><br>
            </div>
            <div class="myform-button">
            <button type="submit" class="w-100 myform-btn">Submit</button>
            </div>
        </form>      
      <!-- <input type="submit" name="signup_submit" value="Sign me up" /> -->
    </div>
    
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
  </div>
  {% if messages %}
  {% for msg in messages %}
   <span {% if msg.tags%} class="{{msg.tags}}" {% endif %}> {{msg}}</span>
  {% endfor %}
  {% endif %}


{% endblock %}